.fa-times {
  height: 18px;
  margin-left: 20px;
}

.pull-right {
  float: right;
}

.mat-list {
  .mat-list-item {
    height: 28px;
    .mat-list-item-content {
      padding: 0;
    }
  }
}

.pairing-select {
  margin: 20px 0px;
}

.list-title {
  margin: 0;
}
